body {
    font-family: Arial, sans-serif;
    background-color: #cc6868;
    background-image: url('1644357925388.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #4f0e67;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #26b841;
}

a {
    text-decoration: none;
    color: #fff;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fffafa;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

#savedata,
#create {
    background-color: #27ae60;
    color: #fff;
    transition: background-color 0.3s ease;
}

#savedata:hover,
#create:hover {
    background-color: #219a52;
}
p{
    color: white;
}
